In [1]:
import sqlalchemy

In [2]:
import psycopg2

In [3]:
import pandas as pd

# connection string

In [4]:
ecomm_str=('postgresql://{username}:{password}@{address}:{port}/{database}'.format(
        username = 'postgres',
        password = 'kasihtaunggakya?',
        address = 'localhost',
        port = '5432',
        database = 'ecommerce'
))

# create engine

In [5]:
from sqlalchemy import create_engine


engine = create_engine(ecomm_str)

cek apakah udah koneksi

In [6]:
table_names = engine.table_names()

In [7]:
table_names

['customer']

kalau udah muncul table maka sudah terkoneksi dnegan baik

In [10]:
query = '''
select customer_id,customer_name, age
from customer
where gender = 'laki-laki'
order by customer_name asc
'''

In [11]:
df = pd.read_sql_query(query,engine)
df

  customer_id     customer_name  age
0        7890   atta halilintar   30
1        1234       Cak Lontong   44
2        2345        Tanboy Kun   30